@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
	--rojo:#A40101;
	--celeste:#2CA3AB;
	--gris:#c4c4c4;
	--naranja:#f3610e;
	--azul-oscuro:#1d1b45;
    --blanco: #ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
}


/*-------------------------------INDEX-------------------------*/
.botones{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 25px;
}

.botones i{
    padding: 5px;
    font-size: 20px;
    color: var(--naranja);
}

.botones p{
    margin-left: 8rem;
    color: var(--gris);
    font-size: 18px;
}


.botones img{
    margin: 0;
}


.b-secion{
    background-color:  var(--azul-oscuro);
    border-radius: 20px;
    color: var(--blanco);
    padding: 0.5rem;
    border-style: solid;
    border-style: none;
    margin-left: 30rem;
    text-decoration: none;
}


.b-secion i{
    margin: 0 0.3rem;
    color: var(--blanco);
}


.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo i{
    font-size: 60px;
    color: var(--naranja);
    margin-right: 30rem;
    padding-bottom: 2rem;
}

.logo1 img{
    width: 300px;
    max-width: 100%;
    margin-left: 5rem;
}



#banner{
    display: flex;
    background-image: url(../img/2.\ medico.png);
    height: 500px;
}

.frase{
    margin-top: 8rem;
    text-align: center;
    margin-left: 13rem;
}

.frase h2{
    font-size: 45px;
    margin: 1.5rem;
    color: var(--naranja);
}

.frase h3{
    font-size: 45px;
    color: var(--azul-oscuro);
    margin-bottom: 2rem;
}

.b-inicio{
    background-color:  var(--azul-oscuro);
    border-radius: 20px;
    color: var(--blanco);
    padding: 0.5rem;
    border-style: solid;
    border-style: none;
    text-decoration: none;
}

.b-inicio i{
    font-size: 20px;
    padding: 5px;
    margin-left: 0.2rem;
}


.franja{
    width: 1920px;
    max-width: 100%;
    max-height: 80%;
    margin: 0;
}


#seccion1{
    background-image: url(../img/4.\ covid.jpeg);
    background-repeat: no-repeat, repeat;
    background-size: 1920px;
    height: 30rem;
}

.signos{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.842);
    height: 30rem;

}


.signo h2{
    font-size: 25px;
    color: var(--celeste)
}

.signo ul{
    margin: 2rem;
    font-size: 18px;
}

.signo li{
    padding: 0;
    list-style: none;
    font-weight: 600;
}

.signo li i{
    margin: 0;
    padding: 0.5rem;
    font-size: 28px;
}


.signo i{
    margin-top: 3rem;
    color: var(--rojo);
    font-size: 30px;
}

.signo p{
    width: 700px;
    margin: 2rem;
    font-size: 18px;
    text-align: justify;
    font-weight: 600;
}

.oms{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.oms img{
    width: 200px;
    margin: 0;
}

.oms a{
    font-size: 18px;
    color: var(--celeste);
    font-weight: 600;
}

#servicios{
    background-color: var(--azul-oscuro);
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}


#servicios p{
    padding: 1rem 0;
    padding-left: 0.5rem;
    border-bottom: 10px solid var(--gris);
    color: var(--blanco);
    font-size: 18px;
}

#servicios .sinBorde{
    border-bottom: 0;
    padding-bottom: 0;
}


footer{
    background-color: black;
    padding: 2rem;
    text-align: center;
}

footer p{
    color: white;
}



/*-------------------------------LOGIN-----------------------*/


#login{
    background-image: url(../img/10.png);
    background-repeat: repeat-x;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingreso img{
    margin-bottom: 1.5rem;
}

.ingreso p{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
    background-color: #A8DDE0 ;
    padding: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.ingreso{
    background-color: var(--blanco);
    width: 60vh;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(59, 59, 59);
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.form-group a{
    color: black;
    font-weight: 600;
}



.form-label{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}


.form-input{
    margin-top: 0.5rem;
    background-color: #E9F6F7;
    height: 3rem;
    border-radius: 20px;
    border-color: var(--celeste);
    border-style: solid;
}


.form-olvido{
    text-align: center;
    margin-bottom: 2rem;
}

.b-ingreso{
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: var(--naranja);
    border-radius: 10px;
    color: var(--blanco);
    padding: 0.5rem;
    border-color: 3px #1d1b45;
    border-style: solid;
    width: 150px;
    cursor: pointer;
}

#b-inicio{
    margin-left: 26rem;
    margin-bottom: 2rem;
    background-color: var(--azul-oscuro);
    border-radius: 10px;
    padding: 0.5rem;
    border: 2px;
    border-color: var(--celeste);
    border-style: solid;
    width: 150px;
    text-decoration: none;
    text-align: center;
    color: var(--blanco);
}

/*----------------FORMULARIO----------------*/
.barraNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.barraNavegacion img{
    width: 300px;
    max-width: 100%;
    margin-left: 5rem;
}

.icono-casa{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--gris);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--celeste);
    margin-left: 85rem;
}

.icono-casa i{
    font-size: 20px;
}

.icono-off{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--gris);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--celeste);
    margin-right: 3rem;
}

.icono-off i{
    font-size: 20px;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.borde-formulario{
    border: 2px solid var(--gris);
    margin-bottom: 2rem;
}

.formulario-registro{
    background-color: #c4c4c4;
    padding: 2rem;
    margin: 2.5rem;
    border-radius: 20px;
    border: 1px solid grey;
}


.titulo-registro{
    color: var(--blanco);
    font-weight: lighter;
    background-color: #1d1b45;
    text-align: center;
    width: 1217px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    font-weight: lighter;
}

.franja2{
    width: 1920px;
    max-width: 100%;
    max-height: 80%;
    margin: 0;
    border-bottom: 5px solid var(--celeste);
}



.datos-cero input{
    width: 200px;
    height: 40px;
    border: 2px solid var(--celeste);
    margin: 1rem 1rem;
    padding-left: 0.5rem;
}


.titulos{
    background-color: var(--celeste);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
    border: 1px solid rgb(3, 3, 98);
}

.titulos h1{
    color: var(--blanco);
    font-size: 20px;
    font-weight: lighter;
    margin: 0.5rem auto;
}

.titulos i{
    color: black;
    margin-left: 2rem;
    font-size: 20px;
}

.datos input{
    width: 500px;
    height: 40px;
    margin: 1rem 1rem;
    padding-left: 0.5rem;
    border: 2px solid var(--celeste);
}

.datos select{
    width: 500px;
    height: 40px;
    margin: 1rem 1rem;
    padding-left: 0.5rem;
    border: 2px solid var(--celeste);
    color: #757575;
}

.datos-final{
    display: flex;
    align-items: center;
}

.datos-final input{
    width: 330px;
    height: 40px;
    padding-left: 0.5rem;
    border: 2px solid var(--celeste);
}

.datos-final select{
    width: 330px;
    height: 40px;
    margin: 1rem 1rem;
    padding-left: 0.5rem;
    border: 2px solid var(--celeste);
    color: #757575;
}

.titulo-covid{
    font-size: 16px;
    color: #424242;
}

.prueba-covid{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem;
}

.prueba-covid input{
    margin: 0rem 1rem;
    
}

.guardar{
    margin-bottom: 5rem;
    text-align: center;
}

.guardar button{
    background-color: var(--naranja);
    width: 150px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    border: none;
    color: var(--blanco);
}


/*---------------------PACIENTES-------------------*/

#pacientes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

